<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744329989740-5tpcan0rri6l89ukcbrd4adns8dst02a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744329989740-5tpcan0rri6l89ukcbrd4adns8dst02a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744329989740-27pivn2u3t5jrbnnrhn22pt263oojur5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9mIueOV28qN056wimMvvucEjri9YmdKU</string>
	<key>GCM_SENDER_ID</key>
	<string>744329989740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mobilapp</string>
	<key>PROJECT_ID</key>
	<string>mydb-a4934</string>
	<key>STORAGE_BUCKET</key>
	<string>mydb-a4934.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744329989740:ios:2fb9a0d99f6c91f9461249</string>
</dict>
</plist>