<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454739289117-ln4j5qc0e4v4vi3rksablrpk84tchbq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454739289117-ln4j5qc0e4v4vi3rksablrpk84tchbq7</string>
	<key>API_KEY</key>
	<string>AIzaSyAhidim4nz0JOpM1OBogjeGlnwfM0UMxrw</string>
	<key>GCM_SENDER_ID</key>
	<string>454739289117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-82a21</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-82a21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454739289117:ios:86f34a0f5c960843dc52f4</string>
</dict>
</plist>